# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Celery
celerybeat-schedule
celerybeat.pid

# Folders
Files/
Files/Complated/
Files/Error/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini 